<header>

  {# Ma DIV contenant mon image d'entête #}
  <div class="hero">

    <div class="logNav">


      {# Conteneur Logo et Navigation #}
      <div class="logo">
        <a href="{{ path('app_home') }}">
          <img src="{{ asset('assets/img/logo2.png') }}" alt="le nom du site et logo représentant un réticule" />
        </a>
      </div>
        {#Navigation#}
        <nav>
          <div class="item">
            <ul>
              <li>
                <a href="{{ path('app_home') }}"><i class="fa-solid fa-house fa-xl"></i></a>
              </li>
              <li>
                <a href="{{ path('app_product', { category: 'boitiers' }) }}">Boitiers</a>
              </li>
              <li>
                <a href="{{ path('app_product', { category: 'optiques' }) }}">Optiques</a>
              </li>
              <li>
                <a href="{{ path('app_product', { category: 'flashs' }) }}">Flashs</a>
              </li>
              <li>
                <a href="{{ path('app_product', { category: 'accessoires' }) }}">Accessoires</a>
              </li>
              <li>
                <a href="{{ path('app_productbuy') }}">Vendez votre matériel</a>
              </li>
            </ul>
          </div>

          {# Compte utilisateur#}
          <div class="account">
            <ul>
              {% if app.user %}
                <li>
                  <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('app_register') }}">Inscription</a>
                </li>
                <li>
                  <a href="{{ path('app_login') }}">Connexion</a>
                </li>
              {% endif %}
                <li>
                  <a href="{{ path('app_basket') }}">
                    <i class="fa-brands fa-opencart fa-xl"></i>
                      <span id="cart_nb">{{ app.session.get('numb_item') > 0 ? app.session.get('numb_item') : '' }}</span>
                  </a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
