{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur focus pixel{% endblock %}

{% block body %}

<main class="contenair">

    {# Mon image d'entête #}
    <div class="hero"></div>

	{# Mon bloc DIV concernant mes produits récemment ajoutés #}
    <div class="recentlyAdd">
    
    	<h2>Produits récemment ajoutés</h2>

        	<div class="productAdd">
				{% for item in products %}

					<div class="product">

						<div class="productImg">
							<img src="{{ asset("/assets/img/" ~ item.img) }}" alt="{{item.nom}}">
						</div>

							<div class="productInfo">

								<h3>{{ item.marque }} {{ item.nom }}</h3>

								<p>Etat physique: {{item.etat}}</p>

								<p>Prix:{{ item.prix }}€</p>

								<p><a href="{{path('app_description', {id : item.id})}}">Description</a></p>

								<button class="addBasket" data-bouton='page-prod' data-id="{{item.id}}">Ajouter au panier</button>
							</div>
					
					</div>

				{% endfor %}

			</div>
        
    </div>


</main>




<footer>

</footer>
{% endblock %}
