{% extends 'base.html.twig' %}

{% block body %}
  <main class="contenair">
    {# Mon image d'entête #}
    {# <div class="hero"></div> #}

    {# Mon bloc DIV concernant mes produits récemment ajoutés #}
    <div class="recentlyAdd">
      <h2>Produits récemment ajoutés :</h2>

      {# prodAdd est anciennement "productAdd" #}
      <div class="prodAdd">
        {% for item in products %}
          <div class="product">
            {# prodImg est anciennement "productImg" #}
            <div class="prodImg">
              <img src="{{ asset('/assets/img/' ~ item.img) }}" alt="{{ item.nom }}" />
            </div>

            {# prodInfo est anciennement "productInfo" #}
            <div class="prodInfo">
              <h4>{{ item.marque }} {{ item.nom }}</h4>
              <p>
                Condition physique: <b>{{ item.etat }}</b>
              </p>
              <span>{{ item.prix }}€</span>
            </div>

            <div class="link">
              <button><a href="{{ path('app_description', { id: item.id }) }}">En savoir plus</a></button>
              <button class="addBasket" data-bouton="page-prod" data-id="{{ item.id }}">Ajouter au panier</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="recentlyAdd">
      <h2>Produits en promotions :</h2>

      <div class="prodAdd">
        {% for item in promotions %}
          <div class="product">
            {# prodImg est anciennement "productImg" #}
            <div class="prodImg">
              <img src="{{ asset('/assets/img/' ~ item.img) }}" alt="{{ item.nom }}" />
            </div>

            {# prodInfo est anciennement "productInfo" #}
            <div class="prodInfo">
              <h4>{{ item.marque }} {{ item.nom }}</h4>
              <p>
                Condition physique: <b>{{ item.etat }}</b>
              </p>
              <span class="old-price">{{ item.prix }}€</span>
              <span class="new-price">{{ item.getNewPrice() }}€</span>
            </div>

            <div class="link">
              <button><a href="{{ path('app_description', { id: item.id }) }}">En savoir plus</a></button>
              <button class="addBasket" data-bouton="page-prod" data-id="{{ item.id }}">Ajouter au panier</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>

  <footer></footer>
{% endblock %}
