{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

  <main class="contenair">
  
  {% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}

  <div class="login">
    <h1>Connexion</h1>

    {{ form_start(form) }}
      {{ form_row(form.email) }}
      {{ form_row(form.password) }}
      <button type="submit" class="sub">Se connecter</button>
    {{ form_end(form) }}

    <p><a href="#">Mot de passe oublié ?</a></p>
    <p>Pas encore inscrit ? <a href="{{ path('app_register') }}">Créer un compte</a></p>
  </div>
</main>
{% endblock %}