{% extends 'base.html.twig' %}

{% block title %}
	Hello ProductController!
{% endblock %}

{% block body %}

	<main class="contenair">

		<h1 class="titlePage">{{titre}}</h1>

			<div class="productSell">

				{% for item in products %}

					<div>
						<div class="productImg">
							<img src="{{ asset("/assets/img/" ~ item.img) }}" alt="{{item.nom}}">
						</div>

						<div class="productInfo">

							<h3>{{ item.marque }}, {{ item.nom }}</h3>

							<p><b>Etat:</b>{{item.etat}}</p>

							<p><b>Prix:</b>{{ item.prix }}€</p>

								<div class="productButton">

									<a href="{{path('app_description', {id : item.id})}}"><button>Description</button></a>


									{# Voir pour activer le bouton favoris #}

									{# <button class="btn shadow-1 btn-small btn-circle primary"><span class="iconify-inline" data-icon="mdi:thumb-up"></span></button> #}

									<button class="ajout" data-bouton='page-prod' data-id="{{item.id}}">Ajouter au panier</button>

								</div>
						</div>

					</div>

				{% endfor %}

			</div>
	</main>


{% endblock %}
