{% extends 'base.html.twig' %}

{% block title %}Page produit{% endblock %}

{% block body %}

<main class="contenair">

	<div class="productSell">

		<h2 class="titlePage">{{titre}}</h2>	

			<div class="prodAdd">

				{% for item in products %}
				
					<div class="product">
						
						<div class="prodImg">
							<img src="{{ asset("/assets/img/" ~ item.img) }}" alt="{{item.nom}}">
						</div>

						<div class="prodInfo">
							<h4 id="titleP">{{ item.marque }}, {{ item.nom }}</h4>
							<p>Condition physique: <b>{{item.etat}}</b></p>

							<div class="priceFav">
								<span>{{ item.prix }}€</span>

								{% set isFavorite = item.id in favorite %}
								{% if app.user %}

								<span class="fav" data-id="{{ item.id }}">
									{% if isFavorite %}
									<i class="fa-solid fa-bookmark" style="color: #7530ca;"></i>
									{% else %}
									<i class="fa-regular fa-bookmark"></i>
									{% endif %}
								</span>
													
								{% endif %}
							</div>	

							{% if item.isSold %}
                            <p class="status">Vendu</p>
                        {% endif %}
						</div>

						<div class="link">
							<button><a href="{{path('app_description', {id : item.id})}}">En savoir plus</a></button>
							
							<button class="addBasket" data-bouton='page-prod' data-id="{{item.id}}">Ajouter au panier</button>
						</div>
					</div>
				{% endfor %}
					
			</div>
	</div>
</main>


{% endblock %}
