{% extends 'base.html.twig' %}

{% block title %}Hello DescriptionController!{% endblock %}

{% block body %}

<h1 class="descriptTitle">Description</h1>

    <div class="descript">

        <h2>{{produit.marque}} {{produit.nom}}</h2>

            <p>{{produit.description}}</p>

            <button class='ajout' data-bouton='description' data-id='{{produit.id}}'>Ajouter au panier</button>

    </div>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset("/assets/img/")}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    {% for item in produit.images %}
        
        <img src="{{asset("/assets/img/"~ item.images)}}" class="d-block w-100" alt="...">
    
    {% endfor %}
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








{% endblock %}
