{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<h1>{{ controller_name }}</h1>

<div class="cart"> 

    {% for item in product %}

        <div class="productCart">
        {# ~ = concatenation : resultat = "assets/img/optic.png" #}

            <img src="{{asset('assets/img/'~ item.img)}}" alt="{{item.nom}}">

            <div class="infos"><h4>{{ item.marque }} {{ item.nom }}</h4>

                <p>quantité:</p>
                <p>prix: {{item.prix}}</p>

                <a href="#" class="btn btn-danger btn-sm supp" data-id="{{item.id}}">
                <i class="fas fa-trash"></i></a>
            </div>
        
        </div>

    {% endfor %}

</div>


<div class="payement">







</div>







{% endblock %}
