{% extends 'base.html.twig' %}

{% block title %}
  {{ controller_name }}
{% endblock %}

{% block body %}
  <main class="contenair">
    <h1>{{ controller_name }}</h1>

    <div class="tableContenair">
      <table class="table">
        <thead>
          <tr>
            <th>Produits</th>
            <th>Image</th>
            <th>Prix</th>
            {# <th>Total</th> #}
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for item in product %}
            <tr>
              <td>{{ item.marque }} {{ item.nom }}</td>

              <td>
                <img src="{{ asset('assets/img/' ~ item.img) }}" alt="{{ item.nom }}" />
              </td>
              <td>{{ item.prix }}</td>
              {# <td>{{ total }}</td> #}
              <td>
                <a href="#" class="btn btn-danger btn-sm supp" data-id="{{ item.id }}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          
            
            
          {% endfor %}
  

        </tbody>
      </table>
<div>le Total des articles est de:<span id='totalPanier'>{{ total }}</span> €</div>
<button class"bt" type="submit">Valider</button>

      {# <div class=""></div> #}



    </div>
  </main>
{% endblock %}
