{% extends 'base.html.twig' %}

{% block title %}
  {{ controller_name }}
{% endblock %}

{% block body %}
  <main class="contenair">
    <h1>{{ controller_name }}</h1>

    <div class="tableContenair">
      <table class="table">
        <thead>
          <tr>
            <th>Produits</th>
            <th>Image</th>
            <th>Prix</th>

            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for item in product %}
            <tr>
              <td classe="product">{{ item.marque }} {{ item.nom }}</td>

              <td classe="imgs">
                <img src="{{ asset('assets/img/' ~ item.img) }}" alt="{{ item.nom }}" />
              </td>
              <td classe="price">
                {% if item.promotions %}
                  <del>{{ item.prix }} € </del> / <strong>{{ item.getPrixPromo() }} €</strong>
                {% else %}
                  {{ item.prix }} €
                {% endif %}  
              </td>
            
              <td classe="trash">
                <a href="#" class="btn btn-danger btn-sm supp" data-id="{{ item.id }}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          
          {% endfor %}
  
        </tbody>
      </table>
<div><h4>Le total des articles est de:</h4><span id='totalPanier'>{{ total }}</span> €</div>

<button class"commandValid"><a href="{{path("app_payment")}}">Valider</a></button>

    </div>
  </main>
{% endblock %}
